.search-section {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ddd;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.search-form input, .search-form button {
  padding: 10px;
  flex: 1 1 180px;
  font-size: 16px;
}

.search-form button {
  background-color: #da3e52;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.search-form button:hover {
  background-color: #b03042;
}
